# explict
.yarnrc
CHANGELOG.md
Makefile

# folders
.vscode/**
.vscode-test/**
.githooks/**
src/**
doc/**
dist/**
icons/original/**
sample-projects/**
scripts/**

# patterns (files anywhere)
**/tsconfig.json
**/.eslintrc.json
**/*.gitignore
**/*.map
**/*.ts
